.header {
    margin-top: 10px;
}

.inline-form{
    display: inline-block !important;
    width: auto !important;
    float: initial !important;
}

.td-warning{
    font-weight: bold;
    width: 25%;
    border-left-width: 0px !important;
    border-color: #ff9900 !important;
}

.form-control-sm{
    max-width: 50px;
}

select, input{
    font-weight: initial;
}